@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk';
}
#root{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}
:root{
    /* #27806C; */
    --colorVerde: #FD7401;
    --color3: #292929;
    --colorNaranja: rgb(253,116,1);
    --colorGris: rgb(41,41,41);
}
.mainBackground{
    background-color: var(--colorNaranja);
}
.backgroundGris {
    background-color: var(--colorGris);
}

.color3{
    background-color: var(--color3);
}

.color4{
    background-color: var(--colorNaranja);
}


.textNaranja{
    color: var(--colorNaranja);
}
.fontNameLogo {
    font-family: 'Black Ops One';
}
.backgroundLanding{
    background-color: rgb(41, 41, 41);
    background-image: url('public/ColombiaMap.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}
.backgroundLanding2{
    background-color: rgb(41, 41, 41);
    background-image: url('public/landingImage2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#rfs-btn{
    border: none;
    height: 100%;
}
ul{
    list-style:disc;
}
input:focus {
    outline: none;
}

.orange-link {
    color: black; 
    transition: color 0.1s; 
  }
  
  .orange-link:hover {
    color: #FD7401; 
  }

  .selected-chat {
    border: 2px solid rgba(253, 116, 1, 0.5); /* Color FD7401 con 50% de transparencia */
    border-radius: 0.5rem; /* Ajusta según sea necesario */
}

.chat-container {
    width: 100%;
    max-width: 600px; /* Establece un tamaño máximo para el chat */
    height: 100%;
    overflow-y: auto; /* Agrega scroll si es necesario */
}

.orange-arrow img {
    fill: orange; /* Cambia el color de relleno de la imagen a naranja */
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px; /* Incrementé el valor para separar más los círculos */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .pending {
    background-color: yellow;
  }
  
  .completed {
    background-color: green;
  }
  
  .offered {
    background-color: blue;
  }

