@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk';
}

:root{
    --colorVerde: rgb(9,108,138,0.8);
}
.backgroundVerde{
    background-color: var(--colorVerde);
}
.textVerde{
    color: var(--colorVerde);
}
#rfs-btn{
    border: none;
    height: 100%;
}

input:focus {
    outline: none;
}